/* Write your CSS here */
.team-matches-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #ffffff;
  font-family: Bree Serif;
}
.RCB {
  background: linear-gradient(to bottom, #a4261d, #1e293b);
}
.KKR {
  background: linear-gradient(to bottom, #5755a7, #1e293b);
}
.KXP {
  background: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.CSK {
  background: linear-gradient(to bottom, #f7db00, #1e293b);
}
.RR {
  background: linear-gradient(to bottom, #da237b, #1e293b);
}
.MI {
  background: linear-gradient(to bottom, #13418b, #1e293b);
}
.SH {
  background: linear-gradient(to bottom, #f26d22, #1e293b);
}
.DC {
  background: linear-gradient(to bottom, #4f5db0, #1e293b);
}
.team-matches-content {
}
.team-banner {
  width: 100%;
  height: 150px;
}
.recent-match-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .team-banner {
    height: 350px;
  }
  .team-matches-container {
    padding: 20px;
  }
}
